<div class="card-container" style="display: grid;">
  <div class="col-lg-9 offset-lg-2 col-md-8 col-sm-10 col-xs-12">
    <h1>COMPAÑIA</h1>
  </div>
  <div class="col-lg-9 offset-lg-2 col-md-8 col-sm-10 col-xs-12">
  <div class="card">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center;">
          <div class="form-floating" style="margin: 9px;">
              <input style="text-transform: uppercase;" type="date" class="form-control filtro-busqueda" id="name" name="name"  maxlength="50"  autocomplete=off>
              <label for="name">Fecha de integración</label>
          </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center;">
        <div class="form-floating" style="margin: 9px;">
            <input style="text-transform: uppercase;" type="text" class="form-control filtro-busqueda" id="name" name="name"  maxlength="50"  autocomplete=off>
            <label for="name">Nombre del integración</label>
        </div>
    </div>
    </div>
</div>
</div>
    <!-- <div class="row justify-content-center" style="margin-top: 32px;">
      <div class="col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Buscar</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar departamento">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Buscar </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row" style="margin-top: 32px;justify-content: center">
        <div class="col-lg-9 offset-lg-1 col-md-8 col-sm-10 col-xs-12" style="display: flex;text-align: center;justify-content: center;">
        <!-- <div class="card"> -->
            <!-- <div class="row"> -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive-vertical shadow-z-1 " style="width:100%;margin-top:15px;overflow-x: clip;">
                        <table id="table-car" class="table table-hover table-mc-light-blue">
                            <thead>
                                <tr>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;"></th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Fecha creación</th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Nombre de la compañía</th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Departamento asignado</th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Empleados asignados</th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;text-align: center;">Nombre del asignador</th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="modal()">
                                        <i class="fas fa-plus"></i> Nueva compañía
                                      </button>
                                  </th>
                                </tr>
                              </thead>
                            <tbody>
                                <!-- <tr style="display: flex;text-align: center;justify-content: center;">
                                    <h3 class="font-bold" style="color:#d0d6e2;">No hay registros</h3>
                                </tr>                     -->
                                <!-- <tr >
                                    <td data-title="Fecha creación"  class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
                                        &nbsp;{{(item.info.created_at)}}
                                    </td>
                                    <td data-title="Placa" *ngIf="item.license_plate!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
                                        &nbsp;{{item.license_plate}}
                                    </td>
                                    <td data-title="Placa" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.license_plate==null">
                                                        
                                    </td>
                                    <td data-title="Marca/Carroceria" *ngIf="item.bodywork!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
                                        &nbsp;
                                        <label class="font-bold">{{item.bodywork}}&nbsp;</label><br *ngIf="item.bodywork!=null">
                                        &nbsp;<label>{{item.brand}}&nbsp;</label><br *ngIf="item.brand!=null">
                                    </td>
                                    <td data-title="Marca/Carroceria" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.bodywork==null">
                                                        
                                    </td>
                                    <td data-title="Color/Año" *ngIf="item.color!=null || item.year!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
                                        &nbsp;
                                        <label class="font-bold">{{item.color}}&nbsp;</label><br *ngIf="item.color!=null">
                                        &nbsp;<label>{{item.year}}&nbsp;</label><br *ngIf="item.year!=null">
                                    </td>
                                    <td data-title="Color/Año" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.color==null || item.year==null">
                                                        
                                    </td>
                                    <td data-title="Cap" *ngIf="item.capacity!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align: center;" scope="row">
                                        &nbsp;{{item.capacity}}
                                    </td>
                                    <td data-title="Cap" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align: center;" scope="row" *ngIf="item.capacity==null">
                                                        
                                    </td>
                                    
                                    <td data-title="Línea" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.line_name==null">
                                                        
                                    </td>
                                    <td data-title="Propietario" *ngIf="item.owner_name!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align: end;" scope="row">
                                        <label *ngIf="item.owner_name!=null" class="font-regular">{{item.owner_name}}</label><br *ngIf="item.owner_id_doc!=null">
                                        <label *ngIf="item.owner_id_doc!=null" class="font-bold">({{item.owner_id_doc}})<br *ngIf="item.owner_name!=null"></label><br *ngIf="item.owner_id_doc!=null">
                                    </td>
                                    <td data-title="Propietario" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align: end;" scope="row" *ngIf="item.owner_name==null">
                                                        
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div> 
            <!-- </div> -->
        <!-- </div> -->
    </div>
    </div>
  <div class="modal" tabindex="-1" id="modalDeleteCar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear nuevo tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center;">
                <div class="form-floating" style="margin: 8%;">
                    <input style="text-transform: uppercase;" type="text" class="form-control filtro-busqueda" id="name" name="name"  maxlength="50"  autocomplete=off>
                    <label for="name">Nombre del tarea</label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center;">
                <div class="form-floating mb-2" style="margin: 8%;">
                  <select class="form-select filtro-busqueda" id="status" name="status" aria-label="Estatus">
                    <option ></option>
                  </select>
                  <label for="status">Estatus de la tarea</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" >Guardar</button>
            </div>
        </div>
    </div>
</div>
