<div class="card-container" style="display: grid;">
  <div class="col-lg-9 offset-lg-2 col-md-8 col-sm-10 col-xs-12">
    <h1>COMPAÑIA</h1>
  </div>
  <div class="col-lg-9 offset-lg-2 col-md-8 col-sm-10 col-xs-12">
  <div class="card">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center;">
          <div class="form-floating" style="margin: 9px;">
              <input style="text-transform: uppercase;" type="date" class="form-control filtro-busqueda" id="name" name="name"  maxlength="50"  autocomplete=off>
              <label for="name">Fecha de integración</label>
          </div>
      </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center;">
        <div class="form-floating" style="margin: 9px;">
            <input style="text-transform: uppercase;" type="text" class="form-control filtro-busqueda" id="name" name="name"  maxlength="50"  autocomplete=off>
            <label for="name">Nombre del integración</label>
        </div>
    </div>
    </div>
</div>
</div>
    <!-- <div class="row justify-content-center" style="margin-top: 32px;">
      <div class="col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Buscar</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar departamento">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Buscar </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row" style="margin-top: 32px;justify-content: center">
        <div class="col-lg-9 offset-lg-1 col-md-8 col-sm-10 col-xs-12" style="display: flex;text-align: center;justify-content: center;">
        <!-- <div class="card"> -->
            <!-- <div class="row"> -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive-vertical shadow-z-1 " style="width:100%;margin-top:15px;overflow-x: clip;">
                        <table id="table-car" class="table table-hover table-mc-light-blue">
                            <thead>
                                <tr>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Fecha creación</th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Nombre de la compañía</th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Estatus</th>
                                  <th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="modal()">
                                        <i class="fas fa-plus"></i> Nueva compañía
                                      </button>
                                  </th>
                                </tr>
                              </thead>
                            <tbody>
                                <!-- <tr style="display: flex;text-align: center;justify-content: center;">
                                    <h3 class="font-bold" style="color:#d0d6e2;">No hay registros</h3>
                                </tr>                     -->
                                <tr *ngFor="let product of company">
                                    <td data-title="Fecha creación"  class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
                                        &nbsp;{{(product.created)}}
                                    </td>
                                    <td data-title="Nombre" *ngIf="product.name!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
                                        &nbsp;{{product.name}}
                                    </td>
                                    <td data-title="Nombre" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="product.name==null">
                                                        
                                    </td>
                                    <td data-title="Estatus" *ngIf="product.is_enabled==true" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
                                      &nbsp;ACTIVO
                                  </td>
                                  <td data-title="Estatus" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="product.is_enabled!=true">
                                        INACTIVO              
                                  </td>
                                  <td data-title="DELETE/PUT" *ngIf="product.is_enabled!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
                                    &nbsp;<button class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="modalDelete()">
                                      <i class="fas fa-plus"></i> Eliminar compañía
                                    </button>
                                </td>
                                <td data-title="DELETE/PUT" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="product.is_enabled==null">
                                      INACTIVO              
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
            <!-- </div> -->
        <!-- </div> -->
    </div>
    </div>
  <div class="modal" tabindex="-1" id="modalDeleteCar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear nueva compañía</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center;">
                <div class="form-floating" style="margin: 8%;">
                    <input style="text-transform: uppercase;" type="text" class="form-control filtro-busqueda" id="name" name="name" [(ngModel)]="name" maxlength="50"  autocomplete=off>
                    <label for="name">Nombre del compañía</label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center;">
              <div class="form-floating mb-2" style="margin: 8%;">
                <select class="form-select filtro-busqueda" id="status" name="status" aria-label="Estatus" [(ngModel)]="status">
                  <option *ngFor="let item of listStatus" [value]="item.value">{{item.name}}</option>
                </select>
                <label for="status">Estatus del producto</label>
              </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" (click)="postCompany()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="modalDeleteCar2">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Eliminar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p >¿Desea eliminar la compañía <b class="font-bold"></b>?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-danger" (click)="deleteCompany()" >Eliminar</button>
          </div>
      </div>
  </div>
</div>

