@font-face{
	font-family:Telefonica-Bold;
	src:url(/assets/fonts/Telefonica-Bold.otf)
}
@font-face{
	font-family:Telefonica-Light;
	src:url(/assets/fonts/Telefonica-Regular.otf)
}
@font-face{
	font-family:Telefonica-Regular;
	src:url(/assets/fonts/Telefonica-Regular.otf)
}
.font-light{
	font-family:Telefonica-Light;
}
.font-bold{
	font-family:Telefonica-Bold;
}
.font-regular{
    font-family: Telefonica-Regular;
}
.font-extra-light{
	font-family:Telefonica-ExtraLight;
}

.font-light {
  font-family: Telefonica-Light;
}

.font-bold {
  font-family: Telefonica-Bold;
}

.font-regular {
  font-family: Telefonica-Regular;
  color:#0B2739 ;
}

.font-extra-light {
  font-family: Telefonica-ExtraLight;
}
/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 4.5rem;
    font-family: Telefonica-Regular;
}

/******* Tablas ********/
.shadow-z-1 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

/* -- Material Design Table style -------------- */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: #fff;
}

.table>thead>tr,
.table>tbody>tr,
.table>tfoot>tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table>thead>tr>th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table>tbody+tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table .table {
    background-color: #fff;
}

.table .no-border {
    border: 0;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 0.8rem;
}

.table-bordered {
    border: 0;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f5f5f5;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
    .table-responsive-vertical>.table {
        margin-bottom: 0;
        background-color: transparent;
    }

    .table-responsive-vertical>.table>thead,
    .table-responsive-vertical>.table>tfoot {
        display: none;
    }

    .table-responsive-vertical>.table>tbody {
        display: block;
    }

    .table-responsive-vertical>.table>tbody>tr {
        display: block;
        border: 0px;
        border-radius: 2px;
        margin-bottom: 1.6rem;
    }

    .table-responsive-vertical>.table>tbody>tr>td {
        background-color: #fff;
        display: block;
        vertical-align: middle;
        text-align: right;
    }

    .table-responsive-vertical>.table>tbody>tr>td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: 400;
        color: #757575;
    }

    .table-responsive-vertical.shadow-z-1 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .table-responsive-vertical.shadow-z-1>.table>tbody>tr {
        border: none;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    }

    .table-responsive-vertical>.table-bordered {
        border: 0;
    }

    .table-responsive-vertical>.table-bordered>tbody>tr>td {
        border: 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .table-responsive-vertical>.table-bordered>tbody>tr>td:last-child {
        border-bottom: 0;
    }

    .table-responsive-vertical>.table-striped>tbody>tr>td,
    .table-responsive-vertical>.table-striped>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical>.table-striped>tbody>tr>td:nth-child(odd) {
        /*  background-color: #f5f5f5;*/
    }

    .table-responsive-vertical>.table-hover>tbody>tr:hover>td,
    .table-responsive-vertical>.table-hover>tbody>tr:hover {
        background-color: #fff;
    }

    /*  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }*/
}

.table-striped.table-mc-red>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-red>tbody>tr:nth-child(odd)>th {
    background-color: #fde0dc;
}

.table-hover.table-mc-red>tbody>tr:hover>td,
.table-hover.table-mc-red>tbody>tr:hover>th {
    background-color: #f9bdbb;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-red>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-red>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-red>tbody>tr>td:nth-child(odd) {
        background-color: #fde0dc;
    }

    .table-responsive-vertical .table-hover.table-mc-red>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-red>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-red>tbody>tr>td:hover {
        background-color: #f9bdbb;
    }
}

.table-striped.table-mc-pink>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-pink>tbody>tr:nth-child(odd)>th {
    background-color: #fce4ec;
}

.table-hover.table-mc-pink>tbody>tr:hover>td,
.table-hover.table-mc-pink>tbody>tr:hover>th {
    background-color: #f8bbd0;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-pink>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-pink>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-pink>tbody>tr>td:nth-child(odd) {
        background-color: #fce4ec;
    }

    .table-responsive-vertical .table-hover.table-mc-pink>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-pink>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-pink>tbody>tr>td:hover {
        background-color: #f8bbd0;
    }
}

.table-striped.table-mc-purple>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-purple>tbody>tr:nth-child(odd)>th {
    background-color: #f3e5f5;
}

.table-hover.table-mc-purple>tbody>tr:hover>td,
.table-hover.table-mc-purple>tbody>tr:hover>th {
    background-color: #e1bee7;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-purple>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-purple>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-purple>tbody>tr>td:nth-child(odd) {
        background-color: #f3e5f5;
    }

    .table-responsive-vertical .table-hover.table-mc-purple>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-purple>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-purple>tbody>tr>td:hover {
        background-color: #e1bee7;
    }
}

.table-striped.table-mc-deep-purple>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-deep-purple>tbody>tr:nth-child(odd)>th {
    background-color: #ede7f6;
}

.table-hover.table-mc-deep-purple>tbody>tr:hover>td,
.table-hover.table-mc-deep-purple>tbody>tr:hover>th {
    background-color: #d1c4e9;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-deep-purple>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-deep-purple>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-deep-purple>tbody>tr>td:nth-child(odd) {
        background-color: #ede7f6;
    }

    .table-responsive-vertical .table-hover.table-mc-deep-purple>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-deep-purple>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-deep-purple>tbody>tr>td:hover {
        background-color: #d1c4e9;
    }
}

.table-striped.table-mc-indigo>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-indigo>tbody>tr:nth-child(odd)>th {
    background-color: #e8eaf6;
}

.table-hover.table-mc-indigo>tbody>tr:hover>td,
.table-hover.table-mc-indigo>tbody>tr:hover>th {
    background-color: #c5cae9;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-indigo>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-indigo>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-indigo>tbody>tr>td:nth-child(odd) {
        background-color: #e8eaf6;
    }

    .table-responsive-vertical .table-hover.table-mc-indigo>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-indigo>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-indigo>tbody>tr>td:hover {
        background-color: #c5cae9;
    }
}

.table-striped.table-mc-blue>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-blue>tbody>tr:nth-child(odd)>th {
    background-color: #e7e9fd;
}

.table-hover.table-mc-blue>tbody>tr:hover>td,
.table-hover.table-mc-blue>tbody>tr:hover>th {
    background-color: #d0d9ff;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-blue>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-blue>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-blue>tbody>tr>td:nth-child(odd) {
        background-color: #e7e9fd;
    }

    .table-responsive-vertical .table-hover.table-mc-blue>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-blue>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-blue>tbody>tr>td:hover {
        background-color: #d0d9ff;
    }
}

.table-striped.table-mc-light-blue>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-light-blue>tbody>tr:nth-child(odd)>th {
    background-color: #e1f5fe;
}

/*.table-hover.table-mc-light-blue > tbody > tr:hover > td,
.table-hover.table-mc-light-blue > tbody > tr:hover > th {
  background-color: #b3e5fc;
}*/
@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-light-blue>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-light-blue>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-light-blue>tbody>tr>td:nth-child(odd) {
        background-color: #e1f5fe;
    }

    .table-responsive-vertical .table-hover.table-mc-light-blue>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-light-blue>tbody>tr:hover {
        /*background-color: #e0e0e0;*/
    }

    /* .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
    background-color: #b3e5fc;
  }*/
}

.table-striped.table-mc-cyan>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-cyan>tbody>tr:nth-child(odd)>th {
    background-color: #e0f7fa;
}

.table-hover.table-mc-cyan>tbody>tr:hover>td,
.table-hover.table-mc-cyan>tbody>tr:hover>th {
    background-color: #b2ebf2;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-cyan>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-cyan>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-cyan>tbody>tr>td:nth-child(odd) {
        background-color: #e0f7fa;
    }

    .table-responsive-vertical .table-hover.table-mc-cyan>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-cyan>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-cyan>tbody>tr>td:hover {
        background-color: #b2ebf2;
    }
}

.table-striped.table-mc-teal>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-teal>tbody>tr:nth-child(odd)>th {
    background-color: #e0f2f1;
}

.table-hover.table-mc-teal>tbody>tr:hover>td,
.table-hover.table-mc-teal>tbody>tr:hover>th {
    background-color: #b2dfdb;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-teal>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-teal>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-teal>tbody>tr>td:nth-child(odd) {
        background-color: #e0f2f1;
    }

    .table-responsive-vertical .table-hover.table-mc-teal>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-teal>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-teal>tbody>tr>td:hover {
        background-color: #b2dfdb;
    }
}

.table-striped.table-mc-green>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-green>tbody>tr:nth-child(odd)>th {
    background-color: #d0f8ce;
}

.table-hover.table-mc-green>tbody>tr:hover>td,
.table-hover.table-mc-green>tbody>tr:hover>th {
    background-color: #a3e9a4;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-green>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-green>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-green>tbody>tr>td:nth-child(odd) {
        background-color: #d0f8ce;
    }

    .table-responsive-vertical .table-hover.table-mc-green>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-green>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-green>tbody>tr>td:hover {
        background-color: #a3e9a4;
    }
}

.table-striped.table-mc-light-green>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-light-green>tbody>tr:nth-child(odd)>th {
    background-color: #f1f8e9;
}

.table-hover.table-mc-light-green>tbody>tr:hover>td,
.table-hover.table-mc-light-green>tbody>tr:hover>th {
    background-color: #dcedc8;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-light-green>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-light-green>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-light-green>tbody>tr>td:nth-child(odd) {
        background-color: #f1f8e9;
    }

    .table-responsive-vertical .table-hover.table-mc-light-green>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-light-green>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-light-green>tbody>tr>td:hover {
        background-color: #dcedc8;
    }
}

.table-striped.table-mc-lime>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-lime>tbody>tr:nth-child(odd)>th {
    background-color: #f9fbe7;
}

.table-hover.table-mc-lime>tbody>tr:hover>td,
.table-hover.table-mc-lime>tbody>tr:hover>th {
    background-color: #f0f4c3;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-lime>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-lime>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-lime>tbody>tr>td:nth-child(odd) {
        background-color: #f9fbe7;
    }

    .table-responsive-vertical .table-hover.table-mc-lime>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-lime>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-lime>tbody>tr>td:hover {
        background-color: #f0f4c3;
    }
}

.table-striped.table-mc-yellow>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-yellow>tbody>tr:nth-child(odd)>th {
    background-color: #fffde7;
}

.table-hover.table-mc-yellow>tbody>tr:hover>td,
.table-hover.table-mc-yellow>tbody>tr:hover>th {
    background-color: #fff9c4;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-yellow>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-yellow>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-yellow>tbody>tr>td:nth-child(odd) {
        background-color: #fffde7;
    }

    .table-responsive-vertical .table-hover.table-mc-yellow>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-yellow>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-yellow>tbody>tr>td:hover {
        background-color: #fff9c4;
    }
}

.table-striped.table-mc-amber>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-amber>tbody>tr:nth-child(odd)>th {
    background-color: #fff8e1;
}

.table-hover.table-mc-amber>tbody>tr:hover>td,
.table-hover.table-mc-amber>tbody>tr:hover>th {
    background-color: #ffecb3;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-amber>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-amber>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-amber>tbody>tr>td:nth-child(odd) {
        background-color: #fff8e1;
    }

    .table-responsive-vertical .table-hover.table-mc-amber>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-amber>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-amber>tbody>tr>td:hover {
        background-color: #ffecb3;
    }
}

.table-striped.table-mc-orange>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-orange>tbody>tr:nth-child(odd)>th {
    background-color: #fff3e0;
}

.table-hover.table-mc-orange>tbody>tr:hover>td,
.table-hover.table-mc-orange>tbody>tr:hover>th {
    background-color: #ffe0b2;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-orange>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-orange>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-orange>tbody>tr>td:nth-child(odd) {
        background-color: #fff3e0;
    }

    .table-responsive-vertical .table-hover.table-mc-orange>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-orange>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-orange>tbody>tr>td:hover {
        background-color: #ffe0b2;
    }
}

.table-striped.table-mc-deep-orange>tbody>tr:nth-child(odd)>td,
.table-striped.table-mc-deep-orange>tbody>tr:nth-child(odd)>th {
    background-color: #fbe9e7;
}

.table-hover.table-mc-deep-orange>tbody>tr:hover>td,
.table-hover.table-mc-deep-orange>tbody>tr:hover>th {
    background-color: #ffccbc;
}

@media screen and (max-width: 767px) {

    .table-responsive-vertical .table-striped.table-mc-deep-orange>tbody>tr>td,
    .table-responsive-vertical .table-striped.table-mc-deep-orange>tbody>tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-responsive-vertical .table-striped.table-mc-deep-orange>tbody>tr>td:nth-child(odd) {
        background-color: #fbe9e7;
    }

    .table-responsive-vertical .table-hover.table-mc-deep-orange>tbody>tr:hover>td,
    .table-responsive-vertical .table-hover.table-mc-deep-orange>tbody>tr:hover {
        background-color: #fff;
    }

    .table-responsive-vertical .table-hover.table-mc-deep-orange>tbody>tr>td:hover {
        background-color: #ffccbc;
    }
}

.selected-item {
    background: #e0e0e0;
}

@media screen and (max-width: 767px) {
    .table-responsive-vertical.shadow-z-1>.table>tbody>.selected-item>td {
        background: #e0e0e0;
    }
}

.form-floating>.filtro-busqueda {
    padding-top: 1.3rem;
    padding-bottom: .30rem;
    height: 50px;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: #bebebe;
}

.selected {
    background: #e0e0e0;
}

/* .next-page-disabled {
    background-image: url('assets/images/arrow_forward_ios_grey.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.next-page-enabled {
    background-image: url('assets/images/arrow_forward_ios_black.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.previous-page-disabled {
    background-image: url('assets/images/arrow_back_ios_grey.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.previous-page-enabled {
    background-image: url('assets/images/arrow_back_ios_black.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.first-page-disabled {
    background-image: url('assets/images/first_page_grey.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.first-page-enabled {
    background-image: url('assets/images/first_page_black.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.last-page-disabled {
    background-image: url('assets/images/last_page_grey.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.last-page-enabled {
    background-image: url('assets/images/last_page_black.svg');
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
} */

.texto-movistar {
    color: #0B2739;
}

.input-movistar {
    border-radius: 8px;
    height: 50px;
}

.navbar {
    background: radial-gradient(200px top, ellipse, white, #14BBD9, black);
}

.buttom-movistar-primary[type="submit"]:hover {
    background: linear-gradient(to right, #D32F2F, #000);
    background: linear-gradient(to right, #D32F2F, #000);
    color: white !important;
}

.buttom-movistar-primary {
    border: 0 !important;
    background: linear-gradient(to bottom right, #f4f5f2, #000);
    display: block !important;
    margin: 20px auto !important;
    text-align: center !important;
    background: linear-gradient(to bottom right, #f4f5f2, #000);
    padding: 10px 40px !important;
    outline: none !important;
    color: white !important;
    border-radius: 8px !important;
    transition: 0.25s !important;
    cursor: pointer !important;
    transition: all 0.2s !important;
    font-family: Telefonica-Light !important
}

.buttom-movistar-secondary:hover {
    background: #860707 !important;
    border: 1px solid #860707 !important;
    color: white !important;
}

#navbar {
    background: linear-gradient(to right, #3366CC, #3366CC);
    /* Otros estilos para el navbar */
    transition: background 0.3s;
}

#navbar:hover {
    background: linear-gradient(to right, #FF4500, #FF8C00);
}

.buttom-movistar-secondary {
    border: 0 !important;
    background: #860707 !important;
    display: block !important;
    margin: 20px auto !important;
    text-align: center !important;
    border: 1px solid #860707 !important;
    padding: 10px 40px !important;
    outline: none !important;
    color: white !important;
    border-radius: 8px !important;
    transition: 0.25s !important;
    cursor: pointer !important;
    transition: all 0.2s !important;
    font-family: Telefonica-Light !important
}

.buttom-movistar-back:hover {
    background: #b0bec5 !important;
    border: 1px solid #b0bec5 !important;
    color: white !important;
}

.buttom-movistar-back {
    border: 0 !important;
    background: white !important;
    display: block !important;
    margin: 20px auto !important;
    text-align: center !important;
    border: 1px solid #D3D4D3 !important;
    padding: 10px 40px !important;
    outline: none !important;
    color: #0B2739 !important;
    border-radius: 8px !important;
    transition: 0.25s !important;
    cursor: pointer !important;
    transition: all 0.2s !important;
    font-family: Telefonica-Light !important;
}

.text-muted:hover {
    color: #E74C3C
}

.text-muted {
    color: #6c757d !important;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #F5F5F5;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

@media print {
    .noPrint {
        display: none;
    }

    #sidebar-wrapper {
        position: relative;
    }

    #page-content-wrapper {
        width: 100%;
        left: 0px;
        padding-left: 0%;
    }
}


.toggle {
    --uiToggleSize: var(--toggleSize, 20px);
    --uiToggleIndent: var(--toggleIndent, .4em);
    --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
    --uiToggleColor: var(--toggleColor, #000);
    --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
    --uiToggleBgColor: var(--toggleBgColor, #fff);
    --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
    --uiToggleArrowColor: var(--toggleArrowColor, #fff);

    display: inline-block;
    position: relative;
}

.toggle__input {
    position: absolute;
    left: -99999px;
}

.toggle__label {
    display: inline-flex;
    cursor: pointer;
    min-height: var(--uiToggleSize);
    padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
}

.toggle__label:before,
.toggle__label:after {
    content: "";
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    font-size: var(--uiToggleSize);

    position: absolute;
    left: 0;
    top: 0;
}

.toggle__label:before {
    border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
    z-index: 2;
}

.toggle__input:disabled~.toggle__label:before {
    border-color: var(--uiToggleDisabledColor);
}

.toggle__input:focus~.toggle__label:before {
    box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled):checked:focus~.toggle__label:after {
    box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled)~.toggle__label:after {
    background-color: var(--uiToggleColor);
    opacity: 0;
}

.toggle__input:not(:disabled):checked~.toggle__label:after {
    opacity: 1;
}

.toggle__text {
    margin-top: auto;
    margin-bottom: auto;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
*/

.toggle__text:before {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: 0;
    font-size: var(--uiToggleSize);

    border-left-width: 0;
    border-bottom-width: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--uiToggleArrowColor);

    position: absolute;
    top: .5428em;
    left: .2em;
    z-index: 3;

    -webkit-transform-origin: left top;

    transform-origin: left top;
    -webkit-transform: rotate(-40deg) skew(10deg);
    transform: rotate(-40deg) skew(10deg);
}

.toggle__input:not(:disabled):checked~.toggle__label .toggle__text:before {
    width: .5em;
    height: .25em;
    border-left-width: var(--uiToggleArrowWidth);
    border-bottom-width: var(--uiToggleArrowWidth);
    will-change: width, height;
    transition: width .1s ease-out .2s, height .2s ease-out;
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

/* 
The demo skin
*/

.toggle__label:before,
.toggle__label:after {
    border-radius: 2px;
}

/* 
The animation of switching states
*/

.toggle__input:not(:disabled)~.toggle__label:before,
.toggle__input:not(:disabled)~.toggle__label:after {
    opacity: 1;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    will-change: transform;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.toggle__input:not(:disabled)~.toggle__label:before {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.toggle__input:not(:disabled)~.toggle__label:after {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.toggle__input:not(:disabled):checked~.toggle__label:before {
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    transition-delay: 0s;
}

.toggle__input:not(:disabled):checked~.toggle__label:after {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.toggle__text:before {
    opacity: 0;
}

.toggle__input:not(:disabled):checked~.toggle__label .toggle__text:before {
    opacity: 1;
    transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
}

/*
=====
LEVEL 3. SETTINGS
=====
*/

.toggle {
    --toggleColor: #FF4500;
    --toggleBgColor: #FF4500;
    --toggleSize: 25px;
}