<div class="main-wrapper">
    <div class="sidebar-wrapper hidden-xs hidden-print">
        <a href="" style="text-align: center;display: flex;justify-content: center;">
            <img height="22%"  width="40%" src="../assets/images/metcon2.png" >
            <img height="28" width="28" class="sidebar-brand-small hidden" src="../assets/images/metcon2.png">
        </a>
        <div class="nav-sidebar">
            <div class="nav-sidebar-content" style="margin-top: -30px;">
                <div class="sidebar-content-wrapper" id="standard-sidebar">
                    <ul class="sidebar-nav">
                        <li class="sidebar-main-link active" data-nested-level="0">
                            <div class="sidebar-main-link-inner active">
                                <a title class="sidebar-link pull-left a-tooltip  active" data-placement="right" data-original-title="Dashboard" vvv> 
                                    <span>
                                        <li class="hi hi-16 hi-dashboard"></li>
                                        <span class="sidebar-link-text">Dashboard</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="sidebar-main-link" data-nested-level="0">
                            <span class="js-tablet-menu-trigger a-tooltip" title data-placement="right" data-tipclass="sidebar-tooltip" data-original-title="Project management"></span>
                            <div class="sidebar-main-link-inner">
                                <a href="/organizations/535018/projects" title class="sidebar-link pull-left a-tooltip" data-placement="right" data-tipclass="sidebar-tooltip" data-original-title="Project management">
                                    <span>
                                        <li class="hi hi-16 hi-task"></li>
                                        <span class="sidebar-link-text">Project management</span>
                                    </span>
                                </a>
                                <button type="button" class="btn-reset pull-right sidebar-nav-toggle collapsed" data-target="#project_management-menu">
                                    <li class="hi hi-left">
    
                                    </li>
                                </button>
                            </div>
                            <div id="project_management-menu" class="collapse sidebar-subnav-wrapper">
                                <ul class="sidebar-subnav">
                                    <li class="sidebar-link">
                                        <a href="/organizations/535018/projects">Projects</a>
                                    </li>
                                    <li class="sidebar-link">
                                        <a href="/organizations/535018/tasks">To-dos</a>
                                    </li>
                                    <li class="sidebar-link">
                                        <a href="/organizations/535018/clients">Clients</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <nav>
        <ul style="justify-content: end;display: flex;text-align: end;">
          <!-- <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de</a></li> -->
          <li>
            <a href="#">
              <i  style="color: #D32F2F" class="fas fa-building"></i> Departamento
            </a>
          </li>
          <li>
            <a href="mailto:tuemail@example.com">
              <i style="color: #D32F2F"  class="fas fa-envelope"></i> Email
            </a>
          </li>
          <li>
            <a href="#">
              <i style="color: #D32F2F"  class="fas fa-sign-out-alt"></i> Salir de sesión
            </a>
          </li>
        </ul>
      </nav>
      <div class="row" style="text-align: center;display: flex;justify-content: center;">
            <app-departament></app-departament>
      </div>
    
    
