<div class="main-wrapper">
    <div class="sidebar-wrapper hidden-xs hidden-print">
        <a href="" style="text-align: center;display: flex;justify-content: center;">
            <img height="22%"  width="40%" src="../assets/images/metcon2.png" >
            <img height="28" width="28" class="sidebar-brand-small hidden" src="../assets/images/metcon2.png">
        </a>
        <div class="nav-sidebar">
            <div class="nav-sidebar-content" style="margin-top: -30px;">
                <div class="sidebar-content-wrapper" id="standard-sidebar">
                    <ul class="sidebar-nav">
                        <li class="sidebar-main-link active" data-nested-level="0">
                            <div class="sidebar-main-link-inner active">
                                <a title class="sidebar-link pull-left a-tooltip  active" data-placement="right" data-original-title="Dashboard" vvv> 
                                    <span (click)="showDepartamentComponent()">
                                        <i class="fas fa-briefcase"></i>
                                        <span class="sidebar-link-text">Departamentos</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="sidebar-main-link active" data-nested-level="0">
                            <div class="sidebar-main-link-inner active">
                                <a title class="sidebar-link pull-left a-tooltip  active" data-placement="right" data-original-title="Dashboard" vvv> 
                                    <span (click)="showNewGerentComponent()">
                                        <i class="fas fa-plus"></i>
                                        <span class="sidebar-link-text">Nueva tarea</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="sidebar-main-link active" data-nested-level="0">
                            <div class="sidebar-main-link-inner active">
                                <a title class="sidebar-link pull-left a-tooltip  active" data-placement="right" data-original-title="Dashboard" vvv> 
                                    <span (click)="showCompanyGerentComponent()">
                                        <i class="fas fa-building"></i>
                                        <span class="sidebar-link-text">Compañía</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="sidebar-main-link active" data-nested-level="0">
                            <div class="sidebar-main-link-inner active">
                                <a title class="sidebar-link pull-left a-tooltip  active" data-placement="right" data-original-title="Dashboard" vvv> 
                                    <span (click)="showProjectGerentComponent()">
                                        <i class="fas fa-project-diagram"></i>
                                        <span class="sidebar-link-text">Nuevo proyecto</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="sidebar-main-link active" data-nested-level="0">
                            <div class="sidebar-main-link-inner active">
                                <a title class="sidebar-link pull-left a-tooltip  active" data-placement="right" data-original-title="Dashboard" vvv> 
                                    <span (click)="showEmployeeGerentComponent()">
                                        <i class="fas fa-user"></i>
                                        <span class="sidebar-link-text">Nuevo empleado</span>
                                    </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <nav>
        <ul style="justify-content: end;display: flex;text-align: end;">
          <li>
            <a href="#">
              <i  style="color: #D32F2F" class="fas fa-briefcase"></i> Departamento
            </a>
          </li>
          <li>
            <a href="mailto:tuemail@example.com">
              <i style="color: #D32F2F"  class="fas fa-envelope"></i> Email
            </a>
          </li>
          <li>
            <a href="#">
              <i style="color: #D32F2F"  class="fas fa-sign-out-alt"></i> Salir de sesión
            </a>
          </li>
        </ul>
      </nav>
      <div class="row" style="text-align: center;display: flex;justify-content: center;">
            <app-departament *ngIf="showDepartament"></app-departament>
      </div>
      <div class="row" style="text-align: center;display: flex;justify-content: center;">
        <app-employee *ngIf="showNewGerent"></app-employee>
  </div>
    <div class="row" style="text-align: center;display: flex;justify-content: center;">
        <app-company *ngIf="showCompany"></app-company>
    </div>
    <div class="row" style="text-align: center;display: flex;justify-content: center;">
        <app-newproyect *ngIf="showProjetc"></app-newproyect>
    </div>
    <div class="row" style="text-align: center;display: flex;justify-content: center;">
        <app-new-employe *ngIf="showEmployee"></app-new-employe>
    </div>
    
    
