<div id="div1" style="margin: 0px; padding: 0px;bottom:0px;position:absolute;width:100%;top:0px;">
    <!-- <header>
        <nav class="navbar-expand-lg navbar-dark" id="navbar">
            <div style="display:grid;  grid-template-columns: repeat(2, 1fr);width:100%;">
                <a class="navbar-brand Kalinga-bold" style="color: white;">
                    <div style="width:100%;">
                        <a class="navbar-brand" routerLink="/products">
                          ]
                            <img src="../assets/images/metcon2.png"height="70" width="11%">
                        </a>
                    </div>
                </a>
            </div>
        </nav>
    </header> -->
<div class="card-container" style="display: grid;">
    <div class="row justify-content-center" style="margin-top: 50px;">
        <div class="col-lg-4 col-md-8 col-sm-10 col-xs-12">
            <div class="card">
                <div class="card-body p-4" style="margin-block: 22px;">
                    <h1 class="text-center mb-4">
                        <img src="../assets/images/metcon2.png" height="93" width="22%">
                        <!-- <i class="fas fa-user" style="font-size: 1.5em; margin-right: 10px;"></i> -->
                        Iniciar Sesión
                    </h1>
                    <form class="custom-form" (ngSubmit)="login()">
                        <div class="mb-3 custom-input">
                            <input type="text" style="margin-bottom:15px;text-transform:lowercase;" class="custom-input-field"
                                placeholder="Usuario" id="username" name="username">
                            <i class="fas fa-envelope custom-input-icon"></i>
                        </div>
                        <div class="mb-3 custom-input">
                            <input type="password" class="custom-input-field" id="password"
                                name="password" placeholder="Contraseña" required />
                            <i class="fas fa-lock custom-input-icon"></i>
                        </div>

                        <div class="text-center" style="margin-top: 10px;">
                            <a href="/Usuario" style="color: #777;" (click)="forgotPassword()">Crear usuario</a>
                        </div>

                        <div class="text-center" style="margin-top: 10px;">
                            <a href="/Password" style="color: #777;" (click)="forgotPassword()">¿Olvidaste tu
                                contraseña?</a>
                        </div>
                        <div class="mb-4 text-center" style="margin-top: 20px;">
                            <button type="submit" class="btn btn-primary btn-lg" (click)="login()"
                                style="width: 100%;">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>