@font-face{
	font-family:Telefonica-Bold;
	src:url(/assets/fonts/Telefonica-Bold.otf)
}
@font-face{
	font-family:Telefonica-Light;
	src:url(/assets/fonts/Telefonica-Regular.otf)
}
@font-face{
	font-family:Telefonica-Regular;
	src:url(/assets/fonts/Telefonica-Regular.otf)
}
.font-light{
	font-family:Telefonica-Light;
}
.font-bold{
	font-family:Telefonica-Bold;
}
.font-regular{
    font-family: Telefonica-Regular;
}
.font-extra-light{
	font-family:Telefonica-ExtraLight;
}

.font-light {
  font-family: Telefonica-Light;
}

.font-bold {
  font-family: Telefonica-Bold;
}

.font-regular {
  font-family: Telefonica-Regular;
  color:#0B2739 ;
}

.font-extra-light {
  font-family: Telefonica-ExtraLight;
}
#navbar {
    background: white;
    /* Otros estilos para el navbar */
    transition: background 0.3s;
}

#navbar:hover {
    background: linear-gradient(to right, #FF4500, #FF8C00);
}
/* .card-container {
    background: linear-gradient(to bottom right, #e56131, #214659, #b9e2e1, #bea08d, #f4f5f2, #c27b5b, #77c0c9, #95bcbc);
    height: 42rem;
} */

.card {
    background: linear-gradient(to bottom right, #f4f5f2, #e0e0e0);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 35rem;
    color: #333;
}

.card-body {
    padding: 2rem;
}

.custom-form {
    text-align: center;
    margin-top: 4rem;
}

.custom-input {
    position: relative;
}

.custom-input-field {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    outline: none;
    background: transparent;
    width: 100%;
    color: #333;
}

.custom-input-icon {
    position: absolute;
    top: 52%;
    right: 5px;
    transform: translateY(-50%);
    color: #888;
}

.custom-input-field:focus {
    border-bottom: 2px solid #D32F2F;
}

.btn-primary {
    background-color: #D32F2F;
    border-color: #D32F2F;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #D32F2F;
    border-color: #D32F2F;
}