@charset "UTF-8";
nav {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
  }
  @font-face{
    font-family:Telefonica-Bold;
    src:url(/assets/fonts/Telefonica-Bold.otf)
  }
  @font-face{
    font-family:Telefonica-Light;
    src:url(/assets/fonts/Telefonica-Regular.otf)
  }
  @font-face{
    font-family:Telefonica-Regular;
    src:url(/assets/fonts/Telefonica-Regular.otf)
  }
  .font-light{
    font-family:Telefonica-Light;
  }
  .font-bold{
    font-family:Telefonica-Bold;
  }
  .font-regular{
      font-family: Telefonica-Regular;
  }
  .font-extra-light{
    font-family:Telefonica-ExtraLight;
  }
  
  .font-light {
    font-family: Telefonica-Light;
  }
  
  .font-bold {
    font-family: Telefonica-Bold;
  }
  
  .font-regular {
    font-family: Telefonica-Regular;
    color:#0B2739 ;
  }
  
  .font-extra-light {
    font-family: Telefonica-ExtraLight;
  }
  /* Estilos para dispositivos móviles (ancho máximo de 768px, puedes ajustarlo según tus necesidades) */
@media screen and (max-width: 768px) {
  .nav-link {
      display: none; /* Oculta todos los elementos .nav-link en dispositivos móviles */
  }
  .nav-link i {
      margin-right: 5px; /* Añade un margen derecho a los iconos para separarlos un poco */
  }
}
.selected{
	background:#e0e0e0 !important;
}

.buttom-movistar-primary[type="submit"]:hover {
  background: linear-gradient(to right, #D32F2F, #000);
  background: linear-gradient(to right, #D32F2F, #000);
  color: white !important;
}

.buttom-movistar-primary {
  border: 0 !important;
  background: linear-gradient(to bottom right, #f4f5f2, #000);
  display: block !important;
  margin: 20px auto !important;
  text-align: center !important;
  background: linear-gradient(to bottom right, #f4f5f2, #000);
  padding: 10px 40px !important;
  outline: none !important;
  color: white !important;
  border-radius: 8px !important;
  transition: 0.25s !important;
  cursor: pointer !important;
  transition: all 0.2s !important;
  font-family: Telefonica-Light !important
}

.buttom-movistar-secondary:hover {
  background: #860707 !important;
  border: 1px solid #860707 !important;
  color: white !important;
}

.buttom-movistar-secondary {
  border: 0 !important;
  background: #860707 !important;
  display: block !important;
  margin: 20px auto !important;
  text-align: center !important;
  border: 1px solid #860707 !important;
  padding: 10px 40px !important;
  outline: none !important;
  color: white !important;
  border-radius: 8px !important;
  transition: 0.25s !important;
  cursor: pointer !important;
  transition: all 0.2s !important;
  font-family: Telefonica-Light !important
}

.buttom-movistar-back:hover {
  background: #b0bec5 !important;
  border: 1px solid #b0bec5 !important;
  color: white !important;
}

.buttom-movistar-back {
  border: 0 !important;
  background: white !important;
  display: block !important;
  margin: 20px auto !important;
  text-align: center !important;
  border: 1px solid #D3D4D3 !important;
  padding: 10px 40px !important;
  outline: none !important;
  color: #0B2739 !important;
  border-radius: 8px !important;
  transition: 0.25s !important;
  cursor: pointer !important;
  transition: all 0.2s !important;
  font-family: Telefonica-Light !important;
}

