<!-- <div class="container border" style="display: grid;">
    <h2 style="text-align: center;">Olvido de contraseña</h2>
    <form style="margin-top: 20px;">
        <div class="form-group password-container">
            <label for="newPassword">Nueva contraseña:</label>
            <input type="{{ showNewPassword ? 'text' : 'password' }}" id="newPassword"
                class="form-control form-control-lg" placeholder="Ingresa tu nueva contraseña"  maxlength="10" required>
            <span class="password-toggle" (click)="toggleShowNewPassword()">
                <i [class]="showNewPassword ? 'far fa-eye-slash' : 'far fa-eye'"></i>
            </span>
        </div>
        <div class="form-group password-container">
            <label for="confirmpassword">Repetir contraseña:</label>
            <input type="{{ showConfirmPassword ? 'text' : 'password' }}" id="confirmpassword"
                class="form-control form-control-lg" placeholder="Repite tu nueva contraseña" maxlength="10" required>
            <span class="password-toggle" (click)="toggleShowConfirmPassword()">
                <i [class]="showConfirmPassword ? 'far fa-eye-slash' : 'far fa-eye'"></i>
            </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align: center;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <button type="submit" class="btn btn-primary btn-lg" (click)="changePassword()">Cambiar
                        contraseña</button>
                </div>
                <div class="status-message">
                    <p *ngIf="passwordMismatch" class="error-message">La contraseña no coincide con la primera</p>
                    <p *ngIf="passwordChanged" class="success-message">Cambio de contraseña exitoso</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <button type="submit" class="btn btn-secondary btn-lg" (click)="goBack()">Volver</button>
                </div>
            </div>
        </div>
    </form>
</div> -->
