nav {
    background-image: linear-gradient(to right, #FF0000, #000000);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #FFF; /* Color de texto blanco para resaltar sobre el fondo oscuro */
    text-decoration: none;
}